body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    position: fixed;
    background-color: #1b3b6f; /* Azul escuro */
    color: white;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white; /* Cor das letras em branco */
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #3b5998; /* Azul claro */
    color: white;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #1b3b6f; /* Azul escuro */
    color: white;
}

.card-body {
    background-color: #f0f4f8; /* Azul claro */
}
