body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar .nav-link {
    color: white; /* Cor das letras em branco */
    background-color: #001642;
    border-bottom: 4px solid #ccc;
    font-size: 21px;
    /*border-radius: 20px;*/
    text-align: center;
}

table thead th {
    background-color: #001642;
    color: white;
    font-size: 17px;
    text-align: center;

}


.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(173, 173, 173, 0.1);
    font-size: 14px;
}

.card-body {
    color: black;
    background-color: #dadcde;
}

.card-header {
    color: white;
    background-color: #001642;
}

.btn-outline-primary {
    color: #001642;
    background-color: white;
    border-color: #001642;
}

.titulo {
    color: #073b98;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.table, .table th, .table td {
    border-color: white;

}