body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar .nav-link {
    color: white; /* Cor das letras em branco */
    background-color: #001642;
    border-bottom: 4px solid #ccc;
    font-size: 21px;
    /*border-radius: 20px;*/
    text-align: center;
}

table thead th {
    background-color: #001642;
    color: white;
    font-size: 17px;
    text-align: center;

}


.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(173, 173, 173, 0.1);
    font-size: 14px;
}

.card-body {
    color: black;
    background-color: #dadcde;
}

.card-header {
    color: white;
    background-color: #001642;
}

.btn-outline-primary {
    color: #001642;
    background-color: white;
    border-color: #001642;
}

.titulo {
    color: #073b98;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.table, .table th, .table td {
    border-color: white;

}

.nav-link.active {
    background-color: #085eaf; /* Altere para a cor de fundo desejada */
    color: white; /* Altere para a cor de texto desejada */
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
}

.tipobase{
    font-size: 22px;
    margin-top: 1px;
    width: 225px;
    margin-bottom: 2px;
    font-family: sans-serif;
    background-color: #6d7ac4;
    border-radius:0%;
    color: #ffffff;
    text-align: left;
}